
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}


:root {
    --color-1: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='452' height='54.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='11.4' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    --color-2: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23101011' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%230f0f10' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%230e0e0f' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%230d0d0f' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%230d0d0e' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%230c0c0d' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%230b0b0c' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%230a0a0b' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%2308080a' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23070709' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23060608' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23050507' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%23040406' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%23030305' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23020203' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23010102' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23000000' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --color-3: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23FFFFFF' stroke-width='1' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
    --color-4: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23929292' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFFFFF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    --fuente: "Ancizar Sans", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

body, input, button, textarea, select {
    font-family:  var(--fuente);
}


main{
    background-color: #fff;
    background-image: var(--color-4);
}

.top{
    height: 0;
}


.spinner {
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-top: 2px solid #007bff; /* color del borde superior (azul) */
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.hidden{
    display: none!important;
}


/* -------------------  Navbar --------------------------------*/
#responsiveWidget{
    display: none;
}

#widget{
    display: flex;
}

.header{
    background-color: #000; 
    position: sticky;
    top: 0;
    left: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 78px;
    min-height: 78px;
    z-index: 100;
}

.container-header{
    display: flex;
    width: 95%;
    height: 62px;
    justify-content: space-between;
    align-items: center;
}

.container-logo{
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo{
    height: 90% ;
    width: 90px;
    font-size: 1px;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.header::before{
    background-color: #000000;
    background-image: var(--color-1);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9; 
}

.contenedor-busqueda{
    display: flex;
    flex-direction: column;
}

.box-input-busqueda{
    position: relative;
}

.input-busqueda{
    width: 100%;
    height: 26px;
    padding: 0 27px 0 10px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease;    
    margin-bottom: 3px;
}

.input-busqueda, .input-busqueda::placeholder{
    font-size: clamp(0.76rem, 3vw, 1.17rem);
}

.input-busqueda::-webkit-search-cancel-button{
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><line x1="4" y1="4" x2="16" y2="16" stroke="black" stroke-width="2"/><line x1="16" y1="4" x2="4" y2="16" stroke="black" stroke-width="2"/></svg>') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.btn-busqueda{
    position: absolute;
    right: 0;
    bottom: 2px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 0 30px 30px 0;
}


#sugerencia {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 200px; 
    overflow-y: auto;  
    display: none; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}


#sugerencia::-webkit-scrollbar-track {
    border-radius: 10px; 
}

#sugerencia::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
}

#sugerencia::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

/* Cada sugerencia */
#sugerencia li {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #eee; /* Borde para separar las sugerencias */
}

/* Cambio de color al pasar el mouse */
#sugerencia li:hover {
    background-color: #f0f0f0;
}

/* Mostrar las sugerencias cuando haya resultados */
.input-busqueda:focus + #sugerencia,
#sugerencia:not(:empty) {
    display: block;
}


.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-wrap: nowrap;
    gap: 10px;
}

.navbar ul li{
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.navbar ul li a{
    color: #fff9;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.navbar ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #48e;
    transform: scaleX(0);
    transform-origin:  bottom right;
    transition: transform 0.6s ease-out;
}

.navbar a:hover{
    color: #fff;
}

.navbar ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar ul li i{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.contenedor-usuario{
    display: flex;
    align-items: center;
    column-gap: 5px;
    width: 16%;
    justify-content: center;
}

.navbar-btn{
    display: inline-block;
    padding: 14px 10px;
    background-color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10px;
    transition: all .6s ease;
    color: #000;
    border: none;
    cursor: pointer;
    column-gap: 2px;
    text-wrap: nowrap;
}

.navbar-btn-user{
    width: 100%;
}


.btn_carrito{
    position: relative; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 10px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    transition: all .6s ease;
    cursor: pointer;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
}

.btn_carrito i {
    margin-right: 8px; 
}

.navbar-btn:hover, .btn_carrito:hover{
    color: #fff;
    background-color: #000;
}

#carrito-count {
    position: absolute;
    top: -5px; 
    right: -5px; 
    background-color: #f00; 
    color: #fff; 
    font-size: 12px; 
    width: 22px; 
    height: 22px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2px;
}

.btn-desplegable{
    position: relative;
    width: 100%;
    min-width: 110px;
}

.btn-desplegable_items{
    position: absolute;
    padding: 0 5px;
    bottom: 0;
    background-color: #000;
    font-weight: 600;
    border-radius: 0 0 10px 10px;
    width: 100%;
    z-index: -20;
    transition: all .5s;
}

.btn-desplegable_items li {
    margin: 10px 0;
    text-align: center;
    padding: 1px 0; 
}

.btn-desplegable_items li a{
    color: #fff;
    font-size: 1rem;
}

.btn-desplegable:hover .btn-desplegable_items{
    bottom: -114px;
    z-index: 1;
}

.btn-desplegable:hover #btn-miCuenta{
    background-color: #000;
    color: #fff;
}

.btn-desplegable_items li:hover {
    background-color: #fff;
}

.btn-desplegable_items li:hover  a{
    color: #000;
}

#open-icon, #close-icon{
    font-size: 34px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}


.icons{
    display: none;
}


.barra-noticias {
    width: 100%;               
    height: 18px;             
    overflow: hidden;          
    position: relative;        
    background-color: #058;    
    z-index: -9;
    display: none;
}

.contenido-barra-noticias {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;              
    width: 100%;
    transition: transform 1s ease-in-out;  
}

.contenido-barra-noticias p {
    color: white;              
    line-height: 18px;         
    text-align: center;      
    font-size: clamp(11px, 3.5vw, 15px);
    text-wrap: nowrap;
}

/* ------------------- Fin Navbar --------------------------------*/


/* ---------------- FOOTER ----------------- */

.footer{
    position: relative;
    width: 100%;
    background-color: #000000;
    background-image: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 0 5px;
    gap: 5px;
}

.social_medias{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
}

.social_medias-item{
    font-size: clamp(1.3rem, 3vw, 1.5rem);
}

.social_medias-item i{
    color: #fff;
    display: inline-block;
    transition: .5s;
}

.social_medias-item i:hover{
    transform: translateY(-10px);
}

.menu-footer{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-wrap: wrap;  
    column-gap: 20px;
}

.menu-footer-item{ 
    font-size: clamp(1.1rem, 3vw, 1.15rem);
}

.menu-footer-item a{ 
    color: #fff;
    display: inline-block; 
    text-wrap: nowrap;
    transition: 1s;
}

.menu-footer-item a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin:  bottom right;
    transition: transform 0.6s ease-out;
}

.navbar a:hover{
    color: #fff;
}

.menu-footer-item a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-footer-item a:hover{
    text-shadow: 3px 3px 20px #fff, -2px 1px 30px #fff;
}

.p-footer{
    color: #fff;
    text-align: center;
    font-size: clamp( .8rem, 3vw, .9rem);
}

/* ---------------- Fin FOOTER ----------------- */



/* ---------------- Querys Navbar ----------------- */
@media (width <= 1300px) {
    #responsiveWidget{
        display: flex;
    }
    
    #widget{
        display: none;
    }


    .container-logo{
        width: fit-content;
    }

    .contenedor-busqueda{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .box-input-busqueda{
        width: min(90%, 30rem);
    }

    .icons{
        width: 90px;
        background-color: transparent;
    }   
    
    .navbar{
        position: absolute;  
        top: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(50px);
        left: 0;
        width: 100%;
        height: 0;
        transition: height .2s ease;
        interpolate-size: allow-keywords;   /* Esto permite que se pueda hacer la transition de un height fijo a un auto/max-content/fit-content,etc.  */
        overflow: hidden;
    }

    .navbar.active{
        height: max-content;
        overflow: visible;
    }

    .contenedor-usuario{
        width: 0;
    }
    
    .contenedor-usuario-autenticado{
        width: 45px;
    }

    
    
    .navbar-btn,.btn_carrito{
        padding: 10px;
    }

    .navbar-btn a, .navbar-btn:hover i{
        font-size: 14px; 
    }

    .navbar ul{
        display: block;
    }

    .navbar ul li{
        margin: 20px 0;
        flex-direction: row;
    }

    .icons{
        display: block;
        border: none;
    }

    #open-icon{
        display: inline;
    }

    #close-icon{
        display: none;
    }

    .navbar.show-close #open-icon {
        display: none;
    }

    .navbar.show-close #close-icon {
        display: inline;
    }    

}

@media (width <= 550px){
    .logo{
        width: 65px;
        height: 80%;
    }
}