{% extends 'layout/base.html' %}
{% load custom_filters %} 
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'estilos/tienda.css' %}"> 
    <!-- Agregamos la libreria Toastify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!----------------------->
{% endblock%}

{% block titulo %}
<title>Relojes</title>
{% endblock %}


{% block contenido %}
    <div class="productos">
        <div class="container-card-productos container-card-reloj">
            <div class="container-filtros">
                <form method="get">
                    <div class="box-filtros">
                        <div class="filtro">
                            <select name="filtrarPor" id="por" onchange="this.form.submit()">
                                <option value="">-- Orderar por --</option>
                                <option value="alfabeticamente-asc" {% if request.GET.filtrarPor == 'alfabeticamente-asc' %}selected{% endif %}>Nombre: A - Z</option>
                                <option value="alfabeticamente-des" {% if request.GET.filtrarPor == 'alfabeticamente-des' %}selected{% endif %}>Nombre: Z - A</option>
                                <option value="precio-asc" {% if request.GET.filtrarPor == 'precio-asc' %}selected{% endif %}>Precio: Menor a Mayor</option>
                                <option value="precio-des" {% if request.GET.filtrarPor == 'precio-des' %}selected{% endif %}>Precio: Mayor a Menor</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="box-marcas">
                    {% for reloj in relojes_marcas %}
                        <div class="marca-producto {% if request.GET.marca == reloj.marca.id|stringformat:"s" %}active-marca-producto {% endif %}"  data-marca-id="{{ reloj.marca.id }}">
                            <figure>
                                <img src="{{ reloj.marca.logo_marca.url }}" alt="Imagen logo {{ reloj.marca.nombre }}">
                            </figure>
                            <p>{{ reloj.marca.nombre }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% if request.GET.marca %}
                <div class="box-limpiar-filtros">
                    <a href="{% url 'relojes' %}" class="btn-limpiar-filtros">Limpiar filtros</a>
                </div>
                {% endif %}
            </div>            
            <div class="card-productos">
                {% for reloj in relojes %}
                    <article class="card-producto_article">
                        <a href="{% url 'detalle_producto' reloj.modelo_name reloj.slug %}">
                            <button id="btn-agregar-carrito" class="btn-agregar-carrito" data-modelo="{{ reloj.modelo_name }}" data-id="{{ reloj.id }}"><i class="fas fa-cart-plus"> </i></button>
                            <figure>
                                <img class="img-producto" src="{{reloj.imagen_principal.url}}" alt="imagen de {{reloj.nombre}}" loading="lazy">
                            </figure>
                            <div class="card-producto_info">
                                <p class="nombre-producto">{{reloj.nombre}}</p>
                                <p class="precio-producto">$ {{reloj.precio|punto_miles}}</p>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_js %}    <script src="{% static 'js/scripts_generales.js' %}"></script>  {% endblock %}



