{% extends 'layout/base.html' %}
{% load custom_filters %} 
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'estilos/tienda.css' %}"> 
    <!-- Agregamos la libreria Toastify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!----------------------->
{% endblock%}

{% block titulo %}
<title>Celulares</title>
{% endblock %}


{% block contenido %}
    <div class="productos">
        <div class="container-card-productos">
            <div class="container-filtros">
                <form method="get">
                    <div class="box-filtros">
                        <div class="filtro">
                            <select name="filtrarPor" id="por" onchange="this.form.submit()">
                                <option value="">-- Orderar por --</option>
                                <option value="alfabeticamente-asc" {% if request.GET.filtrarPor == 'alfabeticamente-asc' %}selected{% endif %}>Nombre: A - Z</option>
                                <option value="alfabeticamente-des" {% if request.GET.filtrarPor == 'alfabeticamente-des' %}selected{% endif %}>Nombre: Z - A</option>
                                <option value="precio-asc" {% if request.GET.filtrarPor == 'precio-asc' %}selected{% endif %}>Precio: Menor a Mayor</option>
                                <option value="precio-des" {% if request.GET.filtrarPor == 'precio-des' %}selected{% endif %}>Precio: Mayor a Menor</option>
                            </select>
                        </div>
                        <div class="filtro">
                            <select name="filtrarPorColor" id="color" onchange="this.form.submit()">
                                <option value="">-- Color --</option>
                                {% for celular in celulares_colores %}
                                    <option value="{{ celular.color }}" {% if request.GET.filtrarPorColor == celular.color %}selected{% endif %}>{{ celular.color }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="filtro">
                            <select name="filtrarPorAlmacenamiento" id="almacenamiento" onchange="this.form.submit()">
                                <option value="">-- Capacidad de almacenamiento --</option>
                                {% for celular in celulares_almacenamiento %}
                                    <option value="{{ celular.almacenamiento}}" {% if request.GET.filtrarPorAlmacenamiento == celular.almacenamiento %}selected{% endif %}>{{ celular.almacenamiento }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                </form>
                <div class="box-marcas">
                    {% for celular in celulares_marcas %}
                        <div class="marca-producto {% if request.GET.marca == celular.marca.id|stringformat:"s" %}active-marca-producto {% endif %}"  data-marca-id="{{ celular.marca.id }}">
                            <figure>
                                <img src="{{ celular.marca.logo_marca.url }}" alt="Imagen logo {{ celular.marca.nombre }}">
                            </figure>
                            <p>{{ celular.marca.nombre }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% if request.GET.filtrarPorColor or request.GET.filtrarPorAlmacenamiento or request.GET.marca %}
                <div class="box-limpiar-filtros">
                    <a href="{% url 'celulares' %}" class="btn-limpiar-filtros">Limpiar filtros</a>
                </div>
                {% endif %}
            </div>
            <div class="card-productos">
                {% for celular in celulares %}
                    <article class="card-producto_article">
                        <a href="{% url 'detalle_producto' celular.modelo_name celular.slug %}">
                            <button id="btn-agregar-carrito" class="btn-agregar-carrito" data-modelo="{{ celular.modelo_name }}" data-id="{{ celular.id }}"><i class="fas fa-cart-plus"> </i></button>
                            <figure>
                                <img class="img-producto" src="{{celular.imagen_principal.url}}" alt="imagen de {{celular.nombre}}"  loading="lazy">
                            </figure>
                            <div class="card-producto_info">
                                <p class="nombre-producto">{{celular.nombre}}</p>
                                <p class="precio-producto">$ {{celular.precio|punto_miles}}</p>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_js %}    <script src="{% static 'js/scripts_generales.js' %}"></script>  {% endblock %}

