# ==========================
# Git
# ==========================
.git
.gitignore

# ==========================
# Variables de entorno
# ==========================
.env

# ==========================
# Caché de Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Entornos virtuales
# ==========================
venv/
.venv/
env/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/


# ==========================
# Archivos temporales
# ==========================
*.log
*.tmp

# ==========================
# Sistema Operativo
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Media (opcional)
# ==========================
media/