MERCADOPAGO_PUBLIC_KEY = 'tu_public_key_de_mp'
MERCADOPAGO_ACCESS_TOKEN = 'tu_access_token_de_mp'
NGROK_AUTHTOKEN = 'tu_authtoken_de_ngrok'
EMAIL_GAMESTORE = 'email_gamestore'
EMAIL_PASSWORD_GAMESTORE = 'password_de_email_gamestore'  
DEFAULT_FROM_EMAIL_GAMESTORE = 'Game Store <email>'

