{% extends 'layout/base.html' %}
{% load custom_filters %}  
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'estilos/tienda.css' %}"> 
    <!-- Agregamos la libreria Toastify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!----------------------->
{% endblock%}

{% block titulo %}
<title>Videojuegos</title>
{% endblock %}


{% block contenido %}
    <div class="productos">
        <div class="container-card-productos">
            <div class="container-filtros">
                <form method="get">
                    <div class="box-filtros">
                        <div class="filtro">
                            <select name="filtrarPor" id="por" onchange="this.form.submit()">
                                <option value="">-- Orderar por --</option>
                                <option value="alfabeticamente-asc" {% if request.GET.filtrarPor == 'alfabeticamente-asc' %}selected{% endif %}>Nombre: A - Z</option>
                                <option value="alfabeticamente-des" {% if request.GET.filtrarPor == 'alfabeticamente-des' %}selected{% endif %}>Nombre: Z - A</option>
                                <option value="precio-asc" {% if request.GET.filtrarPor == 'precio-asc' %}selected{% endif %}>Precio: Menor a Mayor</option>
                                <option value="precio-des" {% if request.GET.filtrarPor == 'precio-des' %}selected{% endif %}>Precio: Mayor a Menor</option>
                            </select>
                        </div>
                        <div class="filtro">
                            <select name="filtrarPorConsolas" id="consolas" onchange="this.form.submit()">
                                <option value="">-- Todas las consolas --</option>
                                {% for consola in consolas %}
                                    <option value="{{ consola.id }}" {% if request.GET.filtrarPorConsolas == consola.id|stringformat:"s" %}selected{% endif %}>{{ consola.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="filtro">
                            <select name="filtrarPorGenero" id="genero" onchange="this.form.submit()">
                                <option value="">-- Cualquier genero --</option>
                                {% for genero in juegos_generos %}
                                    <option value="{{ genero.id }}" {% if request.GET.filtrarPorGenero == genero.id|stringformat:"s" %}selected{% endif %}>{{ genero.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
                {% if request.GET.filtrarPorGenero or request.GET.filtrarPorConsolas %}
                <div class="box-limpiar-filtros">
                    <a href="{% url 'videojuegos' %}" class="btn-limpiar-filtros">Limpiar filtros</a>
                </div>
                {% endif %}

            </div>            
            <div class="card-productos">
                {% for juego in videojuegos %}
                    <article class="card-producto_article">
                        <a href="{% url 'detalle_producto' juego.modelo_name juego.slug %}">
                            <button id="btn-agregar-carrito" class="btn-agregar-carrito" data-modelo="{{ juego.modelo_name }}" data-id="{{ juego.id }}"><i class="fas fa-cart-plus"> </i></button>
                            <figure>
                                <img class="img-producto" src="{{juego.imagen_principal.url}}" alt="imagen de {{juego.nombre}}" loading="lazy">
                            </figure>
                            <div class="card-producto_info">
                                <p class="nombre-producto">{{juego.nombre}}</p>
                                <p class="precio-producto">$ {{juego.precio|punto_miles}}</p>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_js %}    <script src="{% static 'js/scripts_generales.js' %}"></script>  {% endblock %}


